# 敏感信息
secrets.py
secret.py
# 環境變量文件
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# 數據目錄
data/

# IDE
.vscode/
.idea/

# 系統文件
.DS_Store
Thumbs.db

month/
event/
history/

*.json
